html{
    margin-left:-20px;
    scroll-behavior: smooth;
}
body {
    margin:0px;
    background-color: rgb(222, 242, 250);
    overflow-x: hidden;
}
.controlBar{
    background-color: rgb(190, 232, 248);
    position:sticky;
    top:0;
    height: 100px;
    padding-left:50px;
    padding-right:50px;
    border:1px solid ;
    border-color:black;
    margin:0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1000;
}
.font{
    font-family:Lucida Handwriting;
    color:black;
    display:flex;
    align-items:center;
}
ul{
    display: flex;
    margin:0;
    padding:0;
}
li{
    display:flex;
    align-items: center;
    padding:0 15px;
    cursor:pointer;
}
li:hover {
    background-color: rgb(127, 214, 248);
    color: white;
}
a{
    text-decoration: none;
    color:inherit;
}
.searchContainer{
    display: flex;
    gap:20px;
    align-items: center;
}
.searchbar{
    border-radius: 50px;
    height: 48px;
    width: 800px;
    padding:0 15px;
    font-size: 20px;
    align-self: center;
    margin:0px;
    
}

.button{
    border-radius: 100px;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    background-color: white;
    color:black;
    align-self: center;
}
.button:hover{
    background-color: black;
    color:white;
}

/*--------------------------------------------------------------------*/
.dashboardListContainer{
    position:sticky;
    padding-left: 20px;
}
.dashboardListContainer ul{
    position:sticky;
    display:block;
    width:250px;
    background-color: #446c94;
    
    padding-top:50px;
    padding-bottom:800px;

    font-family:Lucida Handwriting;
    color:black;
    font-size: x-large;


}
.dashboardListContainer ul li{
    padding: 10px 20px;
    margin-bottom: 15px;
    padding-left:70px;
}
/*--------------------------------------------------------------------*/
.mainContainer {
    display: flex;       /* makes sidebar + products horizontal */
    align-items: flex-start; /* aligns items at the top */
    border: 1px solid;
}
.productsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px; /* so it doesn’t overlap sidebar */
    margin-right: 100px;
    padding: 20px;
    border: 0px solid;
}
.productCard {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 250px;
    margin: 50px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.productCard img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
}

.productCard button {
    background: #14ce03;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}
.productCard button:hover {
     background: #01410a;
}
/*---------------------------------------------------------*/
.footer{
    padding-top:50px;
    padding-left: 150px;
    height:450px;
    border: 0px;
    margin: 0px;
    background-color: skyblue;
    display: flex;
    font-family:Lucida Handwriting;
}
#FName,#FEmail{
    width: 500px;
    border-radius:10px;
    font-size: 20px;
    padding :10px;
}
#FMessage{
    width: 700px;
    height: 85px;
    border-radius:10px;
    font-size: 20px;
    padding :10px;
}
.Send{
    border-radius: 50px;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: white;
    color:black;
}
.Send:hover{
    background-color: black;
    color:white;
}
.copyright{
    background-color: skyblue;
    font-family:Lucida Handwriting;
    padding-bottom: 20px;

}